@page "/"
@using System.Net.Http
@using System.Web
@inject HttpClient Client

<style>
    .slidecontainer {
      width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 25px; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
</style>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div class="slidecontainer">
  <input @bind="HeaterPower" type="range" min="0.1" max="10" step="0.1" class="slider" id="myRange">
</div>

<div>
  current power is @HeaterPower.ToString()
  <button @onclick="SendDataToAPI"></button>
</div>

@code{

  public async Task SendDataToAPI()
  {
    var request = new HttpRequestMessage();
    var builder = new UriBuilder("https://192.168.1.165/api/Temperature");
    builder.Port = 5001;
    var query = HttpUtility.ParseQueryString(builder.Query);
    query["roomArea"] = "10";
    query["targetTemp"] = "100";
    query["roomId"] = "0";
    builder.Query = query.ToString();
    var url = builder.ToString();
    var response = await Client.GetAsync(url);
    Console.WriteLine(response.ToString());
  }
    
  private float HeaterPower { get; set; }

}